<div class="container-fluid py-2">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-primary">
                    Customer List
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">User Form</h4>
                </div>
                <div class="card-body">
                    <!-- First, bind the form with one in .ts file -->
                    <form [formGroup]="userForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="userName" class="form-label">Username</label>
                                <!-- Then secondly, on every input element use formControlName -->
                                <input type="text" formControlName="userName" class="form-control" id="userName" name="userName"
                                    placeholder="Enter username">
                                <div class="text-danger">
                                    @if (userForm.controls['userName'].errors?.['required']) {
                                        <span>This is required</span>
                                    }
                                    @if (userForm.controls['userName'].errors?.['minlength']) {
                                        <span>Min 4 characters</span>
                                    }
                                </div>
                            </div>
        
                            <div class="col-md-6 mb-3">
                                <label for="emailId" class="form-label">Email</label>
                                <input type="email" formControlName="emailId" class="form-control" id="emailId" name="emailId" placeholder="Enter email">
                                <div class="text-danger">
                                    @if (userForm.controls['emailId'].errors?.['required']) {
                                        <span>This is required</span>
                                    }
                                    @if (userForm.controls['emailId'].errors?.['email']) {
                                        <span>Enter a valid email</span>
                                    }
                                </div>
                            </div>
        
                            <div class="col-md-6 mb-3">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" formControlName="fullName" class="form-control" id="fullName" name="fullName"
                                    placeholder="Enter full name">
                                <div class="text-danger">
                                    @if (userForm.controls['fullName'].errors?.['required']) {
                                        <span>This is required</span>
                                    }
                                </div>
                            </div>
        
                            <div class="col-md-6 mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="password" name="password"
                                    placeholder="Enter password">
                                <div class="text-danger">
                                    @if (userForm.controls['password'].errors?.['required']) {
                                        <span>This is required</span>
                                    }
                                </div>
                            </div>
        
                            <div class="col-md-6 mb-3 d-flex align-items-end">
                                <button type="button" [disabled]="userForm" (click)="onSaveCustomer()" class="btn btn-primary w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>