<div class="row">
    <div class="col-3">
        <!-- On every input element use [formField] to bind it to values in .ts file -->
        <input type="text" [formField]="employeeForm.empName" placeholder="Name">
        <!-- touched() property makes the error appear after user has clicked the input box -->
        <!-- Meaning, the error wont show on page load -->
        @if (employeeForm.empName().touched()) {
            <div class="text-danger">
                @for (item of employeeForm.empName().errors(); track $index) {
                {{item.message}}
                }
            </div>
        }
    </div>
    <div class="col-3">
        <input type="text" [formField]="employeeForm.empCity" placeholder="City">
        @if (employeeForm.empCity().touched()) {
            <div class="text-danger">
                @for (item of employeeForm.empCity().errors(); track $index) {
                {{item.message}}
                }
            </div>
        }
    </div>
    <div class="col-3">
        <input type="text" [formField]="employeeForm.empState" placeholder="State">
        @if (employeeForm.empState().touched()) {
            <div class="text-danger">
                @for (item of employeeForm.empState().errors(); track $index) {
                {{item.message}}
                }
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-4">
        <button (click)="onSaveEmp()">Save</button>
    </div>
</div>